{%  if(listing.logo_thumb) %}
    <div class="listing-main-image listing-media">
        <a href="{{listing.link}}" data-analytics="{{ dataAnalytics }}">
            <span class="v-a-w">
                <span class="v-a">
                    {% if index < 3 %}
                        <img src="{{listing.logo_thumb }}" alt="{{listing.title | e('html_attr')}}">
                    {% else %}
                        <img data-src="{{listing.logo_thumb }}" alt="{{listing.title | e('html_attr') }}">
                    {% endif %}
                </span>
            </span>
        </a>
    </div>
{% endif %}